body{
}
  .greenText{
    color:green;
    font-style:italic;
    text-transform: lowercase;
  }

  .bigText{
    font-size: 50px;
  }
  .capText{
    text-transform: capitalize;
  }
  .fontText{
    font-family:Garamond;
  }
  .static {
  position: static;
  border: 2px solid#73AD25;
}
h1, h2, p {
  text-align: center;
  color: blue;
}
div {
  background-color: lightgrey;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}
div p {
  background-color: yellow;
}
